@media (max-width: 320px){
	.caja_Contacto{
		height: 690px;
		width: 100%;
		background-image: none;
		padding-bottom: 50px;
	}


	.tituloseccion{
		font-size: 30px;
	}
	.cajaForm{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		width: 140px;
		height: 420px;
	}
	.nombreYMail{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: space-around;
		flex-wrap: wrap;
		width: 140px;
		height: 140px;
	}
	.cajaseccion1{
		width: 140px;
	}
	.cajaseccion2{
		width: 140px;
	}

	.cajaAyuda{
		margin-left: 25px;
	}
	textarea{
		width: 200px;
	}

	input[type="text"]{
		width: 140px;
	}

	.cajaAyuda{
		margin-bottom:20px; 
	}
}