@media only screen and (max-width: 320px){
footer{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	width: 320px;
	height: relative;
}
.Suscribite{
	width: 140px;
}
.footer_caja{
	width: 320px;
	margin: 0 35px 0 55px;
}

.cajaSuscribite{
	height: 10px;
	width: 150px;
	background-color: #4F4F4F;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:center;
	}
}

//FOOTER
footer{
	height: relative;
	background-color: #b2b2b2;
}
.footer_caja{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 20vw;
}
footer>div{
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
}

.parte1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 12vw;
	width: 20vw;
}

.parte2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	height: 12vw;

}

.cajaIconos{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80px;
}
.cajaSuscribite{
	display: flex;
	justify-content: center;
	align-items: center;
	height: relative;
	width: relative;
	background-color: #4F4F4F;
	border-radius: 20px;

}

.Suscribite{
	color: white;
	text-decoration: none;
}
