//CELULAR GRANDE
@media only screen and (max-width: 480px){
	.imagenEntrada{
		width: 200px;
		height: 200px;
	}
}


.imagenEntrada{
	width: 280px;
	height: 280px;
	border-radius: 150px;
}
.imagenRedonda--modified{
	width: 260px;
	height: 260px;
	border-radius: 150px;
}