//ESTILOS TIPOGRAFIA
$Tipografia-principal: 'Patua One', cursive;
$Tipografia-secundaria:'Montserrat', sans-serif ;

$titulo-principal-tamanio: 2vw;

$Titulo-Principal-seccion-tamanio:3vw;
$Titulo-Principal-seccion-tamanio-chico: 1.8em;
$Titulo-Principal-seccion-fuente:'Patua One', cursive;

$titulo-h2-tamanio:1.6vw;
$descripcion-tamanio:1.2vw;

$boton-chico-tamanio:15px;

$titulo-principal-celular: 1.2em;
$titulo-h1-celular:1.2vw;
$titulo-h2-celular: 0.5em;
$texto-celular:0.3em;

//ESTILOS APLICADOS
.Titulo-Principal{
	font-family: $Tipografia-principal;
	font-size: $titulo-principal-tamanio;
}
.Titulo-Principal-seccion{
	font-family: $Tipografia-principal;
	font-size: $Titulo-Principal-seccion-tamanio;
}
.Subtitulo_Seccion{
	display: flex;
	align-items: center;
	justify-content: space-around;

	font-family: $Tipografia-principal;
	font-size: $titulo-h2-tamanio;
}
.Subtitulo_Seccion--formacion{
		font-family: $Tipografia-principal;
	font-size: $titulo-h2-tamanio;

}
.tituloFormacion{
	font-family: $Tipografia-principal;
	font-size: $titulo-h2-tamanio;	
}
.Titulo-SobreMi{
	font-size: 3vw;
	font-family: $Tipografia-principal;
}
.tituloseccion__Formacion{
	font-size: 3vw;
	font-family: $Tipografia-principal;
}