//ESTILOS TIPOGRAFIA
$Tipografia-principal: 'Patua One', cursive;
$Tipografia-secundaria:'Montserrat', sans-serif ;

$titulo-principal-tamanio: 38px;

$Titulo-Principal-seccion-tamanio:45px;
$Titulo-Principal-seccion-fuente:'Patua One', cursive;



$titulo-h2-tamanio: 17px;

$subtitulo-tamanio: 24px;

$descripcion-tamanio:15px;

$boton-chico-tamanio:15px;

$titulo-principal-celular: 28px;
$titulo-h1-celular:15px;
$texto-celular:11px;

//ESTILOS APLICADOS
.Titulo-Principal{
	font-family: $Tipografia-principal;
	font-size: $titulo-principal-tamanio;
}
.Titulo-Principal-seccion{
	font-family: $Tipografia-principal;
	font-size: $Titulo-Principal-seccion-tamanio;
}
.Subtitulo_Seccion{
	display: flex;
	align-items: center;
	justify-content: space-around;

	font-family: $Tipografia-principal;
	font-size: 20px;

	height: 160px;
}

.Descripcion--modified{
	position: absolute;
	text-align: center;
	top: 1700px;
	margin-left: 300px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	width: 740px;
}
.tituloFormacion{
	font-family: $Tipografia-principal;
	font-size: $subtitulo-tamanio;	
}