*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}


/****MENU***/

@import "header";
@import "tipografia";
@import "botones";
@import "cajas" ;
@import "efectos";


/***INDEX***/
.cajainicio{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 80px;
	height: 600px;
	background-color: #47E2C4;
	background-image: url(../mediacoder/fondo1.png);
	background-size: cover;
}

.section-titulos{
	width: 476px;
}

#cajaSubtitulos{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}

#cajatitulo{
	font-family: $titulo-principal-fuente;
	font-size: $titulo-principal-tamanio;
}
.titulo{
	text-align: left;
	letter-spacing: 1px;
}



.SubtituloIndex{
	font-size: 17px;
	font-family: $titulo-principal-fuente;
}

.cajadescripcion{
	margin-top: 30px;
	height: 350px;
}

.descripcion{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 1.5;
}

#cajalogo{
	margin-top: 100px;
}

.logo{
	filter: drop-shadow(4px 3px 6px #5B5B5B) ;
	width:458px;
	height: 370px;
}

/*FRASE*/
.Frase{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 640px;
	background-color: #E04CAB;
	background-image: url(../mediacoder/fondo2.png);
	background-size: cover;
}

.Frase__texto{
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	line-height: 1.6;
	letter-spacing: 0.6px;
	text-align: center;
	color: #b5188c;
}

/*BLOG INDEX*/
.Blog{
	height: 1560px;
	background-color: #E2C960;

	padding-top: 60px;
}
.Blog__Titulo-Principal-Caja{
	display: flex;
	justify-content: center;

	font-family: $titulo-principal-fuente;
	font-size: 25px;

	margin-bottom: 50px;
}
.Blog__Entradas{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	width: 100%;
	height: 1320px;
}
.imagenEntrada{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	margin-bottom: 10px;
}
.Blog__Entrada-Titulo{
	font-family: $titulo-principal-fuente;
	font-size: $titulo-h2-tamanio;
}
.Blog__Entrada-Texto-Caja{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: center;
}
.Blog__Entrada{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
	height: 635px;
	width: 320px;
}

.cajaSeguirLeyendo{
	margin-top: 10px;
}
.seguirLeyendo{
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.cajaMasEntradas{
	display: flex;
	justify-content: space-around;

	width: 400px;

	margin-top: 40px;
	background-color: #D3B94F;
}
.masEntradas{
	text-decoration: none;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: white;
}

/*BIBLIO INDEX*/
.Bibliografia-Index{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 620px;
	background-color: #3ECEB3;
}

.Bibliografia-Index__Imagen{
	height: 620px;
}

.Bibliografia-Index__Descripcion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	width: 612px;

	padding-bottom: 40px;
}

.Bibliografia-Index__Titulo-Principal-Caja{
	font-family: $titulo-principal-fuente;
	font-size: 25px;
	width: 430px;
	text-align: left;
	padding-bottom: 30px;
}

.Bibliografia-Index__Titulo-Caja{
	font-family: $titulo-principal-fuente;
	font-size: $titulo-h2-tamanio;

	margin-top: 10px;
	margin-bottom: 20px;

	width: 430px;
}

.Bibliografia-Index__Texto-Descripcion{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	width: 430px;
}


/****BIBLIO INDEX END***/




/******************* CAJA TITULOS *******************/
.cajaTitulo{
	display: flex;
	justify-content: center;
	align-items: flex-end;

	height:150px;
	font-family: $titulo-principal-fuente;
	font-size: 23px;

}

.tituloseccion{
}
/******************* CAJA TITULOS *******************/

/******************* CAJA IMAGENES *******************/
.imagen_entrada{
	transition: all 0.7s;
}
.imagen_entrada:hover{
	transform: scale(1.1);}

/******************* CAJA IMAGENES *******************/





/****BLOG START***/
.cajatitulo_Blog{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #E8CF64;
	height: 500px;
}

/****BLOG END***/


/****CONTACTO START***/
.caja_Contacto{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;

	background-image: url(../mediacoder/fondo3.png);
	background-size: cover;

	height: 630px;
	background-color: #E8E8E8;
}

.cajaForm{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 400px;
}


.nombreYMail{
	display: flex;
	flex-direction: row;

	margin-bottom: 15px;
}
.cajaseccion1{
	margin-right: 20px;
}


.cajaConsulta{
	color: white;

	margin-bottom: 15px;

	height: 30px;
	width: 250px;
	background-color: #B2B2B2;
}


form input{
	border: none;
}
input[type="text"]{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;

	border-bottom-size: 15px;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #B2B2B2;

	width: 300px;
	background-color: #E8E8E8;
}


.cajaEnviar{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;

	height: 30px;
	width: 100px;
	background-color: #B2B2B2;
}
/****CONTACTO END***/


/****BIBLIOGRAFÍA START***/
.caja_Bibliografía{
	height: 3140px;
	background-color: #47E2C4;
}

.banner_Bibliografia{
	box-shadow: $sombreado-caja;
}
.Bibliografia_Banner_Titulo{
	position: absolute;

	top: 180px;
	margin-left: 420px;

	text-shadow: $sombreado-texto;

	font-family: $titulo-principal-fuente;
	font-size: $titulo-principal-tamanio;
}
.Bibliografia_Banner_Titulo2{
	position: absolute;

	top: 1600px;
	margin-left: 350px;

	text-shadow: -2px 0px 3px #B2B2B2;

	font-family: $titulo-principal-fuente;
	font-size: $titulo-principal-tamanio;	
}


.cajaEnlaces{
	display: flex;
	align-items: flex-end;
	justify-content: space-around;

	font-family: $titulo-principal-fuente;
	font-size: 20px;
	letter-spacing: 2px;
	color: black;

	background-color: #3ECEB3;
	height: 100px;
}

.cajaEntradasBiblio{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	align-items: center;

	height: 460px;
	background-color: #3ECEB3;	
}
.entradaBiblio_1{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 300px;	
}
.descripcionBiblio{
	margin-top: 15px;
	font-family: $titulo-principal-fuente;
	font-size: 25px;
}
.itemBiblio{
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;	
}
.cajaVerMas{
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-top: 30px;

	border-radius: 50px;

	height: 30px;
	width: 70px;
	background-color: #47E2C4;
}
.vermas{
	text-decoration: none;
	font-family: $titulo-principal-fuente;
	font-size: 15px;
	color: white;
}




.cajaBanner2{
	margin-top: 70px;
	height: 382px;
}
.tituloBanner2{
	position: absolute;

	top: 1760px ;
	left: 450px;

	text-shadow: -2px 0px 3px #B2B2B2;

	font-family: $titulo-principal-fuente;
	font-size: 25px;
}
.descripcionBanner2{
	position: absolute;
	top: 1820px;
	left: 320px;
	width: 622px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}
.cajaBotonBibliografia{
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	font-family: $titulo-principal-fuente;
	font-size: 20px;

	height: 250px;
	width: 100%;
}
.botonBibliografia{
	display: flex;
	justify-content: space-around;
	align-items: center;

	border-radius: 50px;
	box-shadow: 0px 0px 15px #3ECEB3;

	height: 55px;
	width: 280px;

	background-color: #3ECEB3;
}
.boton{
	text-decoration: none;
	color: white;
}




/****BIBLIOGRAFÍA END***/


/****FORMACIÓN START***/
.Formacion__Titulo__Caja{
	background-image:url(../mediacoder/fondoformacion.png);
	background-color: #E04CAB;

}


.caja_CursosVirtuales{
	display: flex;
	align-items: center;
	justify-content: space-around;

	font-family: $titulo-principal-fuente;
	font-size: 20px;

	height: 160px;	
}


.caja_Formacion{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;

	height: 900px;
	width: 100%;
	background-color: #E04CAB;
}
.formacion1{
	display: flex;
	flex-direction: column;

	border-radius: 50px 50px 50px 50px;

	height: 650px;
	width: 350px;
	background-color: #C63CA2;
}
.foto_formacion1{
	border-radius: 50px 50px 0 0;
}
.TituloFormacion{
	text-align: center;
	font-family: $titulo-principal-fuente;
	font-size: 25px;

	background-image: url(mediacoder/fondoformacion.png);
}
.caja_descripcionFormacion{
	padding: 10px 15px 5px 15px;
}
.descripcionFormacion{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	margin-top: 5px;
}
.caja_DetallesFormacion{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}
.subtitulo1{
	letter-spacing: 0.5px;
	text-align: center;
	font-family: $titulo-principal-fuente;
	font-size: 18px;
	color:white;
}
.hora{
	width: 120px;
}
.textosubtitulo1{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}


.caja_centradoComprar{
	display: flex;
	align-items: center;
	justify-content: space-around;

	width: 320px;
}
.caja_comprarformacion{
	display: flex;
	align-items: center;
	justify-content: space-around;

	border-radius: 30px 30px 30px 30px;

	margin-top: 40px;

	width: 100px;
	height: 40px;
	background-color: #E04CAB;
}
.comprar{
	text-decoration: none;
	font-family: $titulo-principal-fuente;
	font-size: 20px;
	color:white;
}


.caja_PreguntasFrecuentes{
	height: 800px;
	background-color: #F4F4F4;
}
.caja_PreguntasFrecuentes2{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
}
.preguntasFrecuentes{
	font-family: $titulo-principal-fuente;
	font-size: 40px;	
}
.FAQ{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	margin-top: 30px;
	width: 850px;
	height: 270px;
}
details{
	width: 400px;
	height: 40px;
	background-color: #C63CA2;
}
summary{
	padding: 5px 0 0 7px;
	font-family: $titulo-principal-fuente;
	font-size: 20px;
	color: white;
}
.respuesta{
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
/****FORMACIÓN END***/


/****SOBRE MI START***/
.SobreMi__Decripcion-Caja{
	background-color:yellow;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;

	background-image:url(../mediacoder/bannersobremi.jpg);
	background-size:cover;

	height: 442px;
}
.SobreMi-Titulo-Caja{
	height: 80px;
}
.SobreMi-Titulo{
	align-content:center;
	padding-top: 90px;

	font-family: $titulo-principal-fuente;
	font-size: 25px;

}

.SobreMi-texto{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;

	width: 622px;
}



.SobreMi__Fotos_caja{
	height: 720px; 
	background-color: #E8E8E8;

}
.SobreMi__Fotos{

}
.SobreMi__Fotos_caja1{
	display: flex;
	flex-direction: row;

	padding-top: 50px;
	margin-left: 70px;
	width: 1100px;
}
.SobreMi__Fotos_caja2{
	display: flex;
	flex-direction: row;

	margin-top: 30px;
	margin-left: 100px;
	width: 1000px;
}
.SobreMi__Fotos__Texto{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	line-height: 1.3;
	color:#C63CA2;

margin-top: 100px;

	width: 190px;
}
.SobreMi__Fotos__Texto--modified{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
		line-height: 1.3;

	color:#C63CA2;

	margin-top: 100px;

	margin-right: 15px;
	margin-left: 15px;
}

.cursosYCharlas{
	display: flex;
	flex-direction: row;
	height: 700px;
}
.caja_Cursos{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;

	height: 700px;
	width: 632px;
	background-color: #C63CA2;
}
.entrevistas{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
	
	height: 700px;
	width: 632px;
	background-color: #E04CAB;
}


.titulo_seccionCursos{
	display: flex;
	justify-content: space-around;
	align-items: center;

	font-family: $titulo-principal-fuente;
	font-size: 45px;

	height: 100px;
}


.caja_CursoSobreMi{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75px;

}
.titulo_curso{
	text-align: center;
	font-family: $titulo-principal-fuente;
	font-size: 20px;
	letter-spacing: 0.6px;

	color: #E8E8E8;
}
.descripcion_curso{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}


/****SOBRE MI END***/


/****GALERÍA START***/
.cajatitulo_Galeria{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #D3B94F;
	height: 1000px;
}

.imagenGaleria:hover{
	transform: scale(1.1);
}

.cajaImagenes{
	display: flex;
	flex-direction: row;
}

/****GALERÍA END***/


/*FOOTER*/
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	height: 250px;
	background-color: #B2B2B2;
}

footer>div{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

.parte1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 110px;
}

.parte2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 110px;
}

.cajaIconos{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80px;
}
.cajaSuscribite{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 270px;
	background-color: #4F4F4F;
	border-radius: 20px;

}

.Suscribite{
	color: white;
	text-decoration: none;
}